*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    font-family: sans-serif;
    background-color: #9C835F;
    position: absolute;
    left: 0px;
    right: 0px;

}

a{
    text-decoration: none;
}


/* logo */

.logo{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 119px;
    top: 27px;
}

/* end logo */

/* rockpaperscissors */

.rockpaperscissors{
    position: absolute;
    width: 410px;
    height: 62px;
    left: 218px;
    top: 40px;
    color: #F9B23D;
}

/* end rockpaperscissors */

/* player1 */
.player1{
    position: absolute;
    width: 299px;
    height: 94px;
    left: 550px;
    top: 162px;
}
/* end player1 */

/* batu 1 */
.batu1{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 555px;
    top: 300px;
}
.batu1:hover{
    cursor: pointer;
    transform: scale(110%);
}
/*end batu 1*/

/* kertas1 */
.kertas1{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 555px;
    top: 500px;
}
.kertas1:hover{
    cursor: pointer;
    transform: scale(110%);
}
/* end kertas1 */

/* gunting1 */
.gunting1{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 555px;
    top: 700px;
}
.gunting1:hover{
    cursor: pointer;
    transform: scale(110%);
}
/* end gunting1 */

/* result */
.banner{
    position: absolute;
    text-align: center;
    border: 3px solid green;
    background-color: green;
    color: white;
    top: 200px;
    right: 280px;
    width: 300px;
    height: 90px;
}
/* vs */
.vs{
    position: absolute;
    width: 396px;
    height: 286px;
    right: 230px;
    top: 419px;
    font-weight: 700;
    font-size: 90px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #BD0000;
}
/*end VS */

/* refresh1 */
.refresh1{
    position: absolute;
    width: 100px;
    height: 81px;
    right: 400px;
    top: 800px;
}
.refresh1:hover{
    cursor: pointer;
    transform: scale(110%);
}

/* end refresh1 */

/* com */
.COM{
    position: absolute;
    width: 299px;
    height: 94px;
    left: 1370px;
    top: 162px;
}
/* end com */

/* batu2 */
.batu2{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 1350px;
    top: 300px;
}
.batu2:hover{
    cursor: pointer;
    transform: scale(105%);
}
/*end batu2 */

/* kertas2 */
.kertas2{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 1350px;
    top: 500px;
}
.kertas2:hover{
    cursor: pointer;
    transform: scale(105%);
}
/*end kertas2 */

/* gunting2 */
.gunting2{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 1350px;
    top: 700px;
}
.gunting2:hover{
    cursor: pointer;
    transform: scale(105%);
}
/* end gunting2 */